* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.rs-picker-popup {
  margin-top: 5px !important;
}
.rs-input {
  font-size: 11px !important;
}
.rs-btn {
  font-size: 11px !important;
}

.rs-calendar-table-cell-day {
  font-size: 11px !important;
}
